In [5]:
import pandas as pd

df = pd.read_csv("data/trips/trips_with_nodes.csv")
df = df.sort_values(by='pickup_distance', ascending=False)
df.tail(50)

,Unnamed: 0,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_node,dropoff_node,pickup_distance,dropoff_distance
3362,3362,id2908765,2,2016-01-01 16:22:39,2016-01-01 16:27:48,5,-73.973442,40.763744,-73.975266,40.752178,N,309,6188803959,42446971,1.293386,25.590539
2290,2290,id0160092,2,2016-05-12 12:01:36,2016-05-12 12:10:30,2,-73.976837,40.743500,-73.994080,40.732609,N,534,42442910,8309479717,1.275235,20.384093
4152,4152,id2750346,2,2016-01-26 19:42:59,2016-01-26 19:52:50,1,-73.989822,40.733700,-73.979668,40.748108,N,591,42453110,5057315765,1.266098,35.431935
3895,3895,id1405784,2,2016-04-01 22:00:26,2016-04-01 22:07:00,1,-74.015167,40.716011,-74.005112,40.705978,N,394,42446841,8094558991,1.260721,4.963893
1079,1079,id1511189,2,2016-05-14 19:27:50,2016-05-14 19:30:56,5,-73.996803,40.725376,-74.003738,40.722435,N,186,1919595915,8231935506,1.254011,2.482335
68,68,id1680350,1,2016-03-18 20:56:16,2016-03-18 20:59:51,1,-74.002983,40.723312,-74.001556,40.728825,N,215,42432142,8309478940,1.250290,42.650008
2407,2407,id3729213,1,2016-01-19 13:11:29,2016-01-19 13:18:22,1,-73.968010,40.771103,-73.973869,40.763260,N,413,7797632770,42432818,1.249439,33.180262
1309,1309,id3799087,1,2016-06-04 00:20:12,2016-06-04 00:42:05,2,-73.979454,40.761219,-73.982956,40.728184,N,1313,3974095844,4216045847,1.248798,61.158296
367,367,id2729614,2,2016-02-03 00:14:51,2016-02-03 00:39:35,1,-73.988388,40.720024,-73.992531,40.659039,N,1484,8231901000,4147198091,1.243742,4979.002763
3553,3553,id1702733,2,2016-02-12 19:56:18,2016-02-12 20:07:27,1,-73.982140,40.731903,-73.957336,40.765907,N,669,6133355307,6670244856,1.223983,2.598558
1961,1961,id0641167,1,2016-02-24 18:26:49,2016-02-24 18:35:01,1,-73.968834,40.750172,-73.958435,40.759979,N,492,3569749112,8586570516,1.201199,22.738148
1655,1655,id3698282,2,2016-02-12 08:55:28,2016-02-12 09:11:24,1,-73.979561,40.746632,-73.981308,40.758739,N,956,8842019586,42430352,1.197358,10.866610
1638,1638,id1847873,2,2016-02-08 22:36:42,2016-02-08 22:56:14,2,-73.954590,40.773972,-74.004318,40.733261,N,1172,8258925535,8307642027,1.166484,12.504541
656,656,id2352567,1,2016-04-12 20:44:03,2016-04-12 20:58:29,1,-73.978264,40.762878,-73.965691,40.800682,N,866,5402554393,6207264907,1.157787,24.810100
215,215,id0562336,2,2016-06-15 10:17:48,2016-06-15 10:27:40,2,-73.952744,40.772259,-73.977768,40.739113,N,592,6691104527,3834442663,1.144924,37.837951
2602,2602,id3163200,1,2016-03-13 14:50:29,2016-03-13 14:53:14,1,-73.980309,40.780590,-73.975204,40.787449,N,165,6207264909,7194269381,1.118267,20.499046
2413,2413,id0364380,2,2016-02-21 09:15:49,2016-02-21 09:22:14,1,-73.984688,40.759151,-74.000755,40.758305,N,385,6598535157,4604294526,1.099608,49.806683
3452,3452,id2591445,1,2016-05-04 00:50:14,2016-05-04 01:29:10,1,-73.995934,40.767246,-73.912560,40.688438,N,2336,7588050919,42437522,1.092616,6101.237775
711,711,id2833082,1,2016-06-14 09:03:49,2016-06-14 09:49:32,1,-73.992584,40.737293,-73.776764,40.644833,N,2743,8264701250,42437522,1.079811,18533.407674
7,7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,7004447596,371198314,1.075266,2317.052378
3631,3631,id0310328,2,2016-01-20 22:35:15,2016-01-20 22:45:38,1,-73.986069,40.757278,-73.972954,40.755020,N,623,3974095826,42446987,1.067699,35.635565
1281,1281,id3334552,1,2016-01-07 07:25:30,2016-01-07 08:03:01,2,-73.980949,40.764286,-73.861847,40.768486,N,2251,3463817014,371218770,1.057069,6453.644983
247,247,id1401963,1,2016-06-18 06:53:43,2016-06-18 07:19:18,1,-73.976028,40.776127,-73.948387,40.778156,N,1535,7106318844,42445748,1.052743,3.980008
2882,2882,id0165382,2,2016-06-21 01:07:30,2016-06-21 01:26:47,3,-73.996208,40.767368,-73.919327,40.829632,N,1157,61275601,7612920602,1.045315,1290.275260
4367,4367,id0923328,1,2016-05-14 12:54:09,2016-05-14 13:07:02,2,-74.016708,40.704826,-73.998871,40.719181,N,773,4207802391,42427322,1.035099,42.721575
1242,1242,id2448458,1,2016-06-23 00:11:21,2016-06-23 00:22:46,2,-73.990257,40.724895,-74.009338,40.710392,N,685,4776041123,8281922223,0.946627,10.299325
1679,1679,id3229838,1,2016-05-20 08:10:59,2016-05-20 08:20:15,1,-73.994690,40.734722,-73.982811,40.745213,N,556,8309479790,4597668044,0.879321,1.965742
1090,1090,id3856418,2,2016-05-16 10:11:21,2016-05-16 10:28:33,1,-73.970108,40.759598,-73.992203,40.737759,N,1032,9140929850,8429175895,0.878103,14.105604
4191,4191,id3413505,2,2016-02-26 07:43:18,2016-02-26 07:46:25,2,-73.963470,40.765835,-73.970581,40.758137,N,187,5542680303,3837215731,0.868179,37.315457
736,736,id1374613,1,2016-04-20 21:31:30,2016-04-20 21:53:25,1,-73.997719,40.740990,-73.956230,40.784477,N,1315,8429213035,7093725099,0.864601,21.016152
2944,2944,id2078759,2,2016-03-17 09:24:47,2016-03-17 09:40:06,1,-74.006279,40.733692,-73.998474,40.755360,N,919,8307642010,5837182317,0.852597,11.928204
3676,3676,id0125862,1,2016-05-19 11:37:10,2016-05-19 11:48:53,2,-73.987694,40.749882,-73.973068,40.757137,N,703,3857343080,5475605298,0.838891,46.905614
1761,1761,id3570588,2,2016-04-30 03:46:39,2016-04-30 03:55:27,2,-74.001106,40.730919,-73.987793,40.721180,N,528,4016646249,3314293708,0.812855,1.441498
2508,2508,id1058597,2,2016-04-12 06:44:05,2016-04-12 06:52:45,1,-73.982773,40.719761,-74.013840,40.713661,N,520,8310245655,5813280739,0.794777,11.384500
3255,3255,id1457215,1,2016-03-22 22:42:00,2016-03-22 22:55:37,1,-73.985641,40.762920,-73.955734,40.805515,N,817,42435687,7892274600,0.770302,16.487975
3883,3883,id1356391,2,2016-03-31 18:56:47,2016-03-31 19:02:46,1,-73.966980,40.793629,-73.952812,40.790890,N,359,8687882741,3982139315,0.746856,17.193162
536,536,id3564443,2,2016-04-21 01:30:43,2016-04-21 01:34:51,1,-74.004387,40.742340,-73.994911,40.750198,N,248,8310246351,7699762582,0.741151,4.001370
3840,3840,id1107147,2,2016-03-06 03:21:48,2016-03-06 03:52:15,1,-74.005821,40.740238,-73.811119,40.742146,N,1827,8262308665,9178958154,0.732066,11612.810981
910,910,id2694422,2,2016-06-22 05:48:14,2016-06-22 06:04:05,6,-73.946053,40.777180,-74.015549,40.711563,N,951,7834025561,5215015525,0.672179,10.239788
559,559,id1256619,1,2016-01-25 03:24:46,2016-01-25 03:35:40,1,-73.999008,40.728016,-73.978096,40.717503,N,654,1692433927,42458156,0.661205,10.333308
4162,4162,id1573916,2,2016-01-31 19:15:21,2016-01-31 19:23:13,1,-73.986549,40.776958,-73.964249,40.802261,N,472,3884632731,42442567,0.640688,12.324917
3605,3605,id0112833,1,2016-03-23 23:55:30,2016-03-24 00:03:33,1,-73.930115,40.854259,-73.925735,40.867447,N,483,5403868143,8952423301,0.635382,30.364494
621,621,id2034134,1,2016-01-26 10:10:07,2016-01-26 10:18:40,1,-74.006203,40.734131,-73.994431,40.736397,N,513,4207862997,8310246306,0.605967,69.092729
3322,3322,id2067226,1,2016-01-12 16:40:09,2016-01-12 16:49:17,1,-73.973648,40.747864,-73.992783,40.726871,N,548,3997451355,5481937333,0.560178,36.963866
2473,2473,id3408580,2,2016-06-27 09:08:01,2016-06-27 09:23:37,1,-73.962540,40.759022,-74.011528,40.703861,N,936,6263094848,8276468827,0.477271,13.869845
1250,1250,id0117192,1,2016-05-25 14:33:48,2016-05-25 14:45:34,1,-73.952744,40.768230,-73.955063,40.786671,N,706,6689923823,6270666552,0.459633,26.440869
4558,4558,id2815157,1,2016-04-05 18:24:35,2016-04-05 18:44:19,1,-73.968521,40.758930,-73.987335,40.756649,N,1184,9140929852,4770624002,0.428638,44.867322
3831,3831,id3546111,1,2016-01-07 00:08:51,2016-01-07 00:21:41,1,-73.979294,40.752815,-73.980659,40.788254,N,770,42445916,9168918201,0.400954,29.346098
2027,2027,id3624818,2,2016-05-22 18:46:57,2016-05-22 18:54:18,1,-73.981476,40.758705,-73.984756,40.748333,N,441,3971196619,9147317803,0.334933,9.358860
2717,2717,id1555825,1,2016-04-02 08:47:28,2016-04-02 08:53:00,1,-74.001442,40.731014,-74.007118,40.718037,N,332,5151711951,8312361645,0.305407,20.439656

In [6]:
df = pd.read_csv("data/trips/trips_with_routes.csv")
df.tail(5)

,Unnamed: 0.1,Unnamed: 0,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_node,dropoff_node,pickup_distance,dropoff_distance,route
4978,4995,4995,id0956600,1,2016-02-12 19:07:51,2016-02-12 19:20:57,1,-73.988594,40.731117,-74.001930,40.728062,N,786,3627218178,5829880524,17.882655,8.262482,"[3627218178, 8309479615, 42430886, 8309479616,..."
4979,4996,4996,id0927465,2,2016-05-31 23:26:59,2016-05-31 23:46:35,1,-73.994141,40.725056,-73.913940,40.765652,N,1176,5829779506,371198755,22.993439,2644.672022,"[5829779506, 42432308, 5829779501, 5829779509,..."
4980,4997,4997,id0112343,2,2016-03-17 22:51:22,2016-03-17 23:02:30,1,-73.979187,40.755489,-73.990532,40.756458,N,668,3942050712,5916783970,19.175963,21.124563,"[3942050712, 42432693, 3942050711, 2176936521,..."
4981,4998,4998,id1869452,2,2016-03-16 09:17:20,2016-03-16 09:26:37,1,-73.987656,40.765358,-73.997398,40.751888,N,557,3463810248,8262309043,6.525676,42.737537,"[3463810248, 4207837422, 3463815152, 42445027,..."
4982,4999,4999,id2617136,1,2016-01-13 22:33:34,2016-01-13 22:39:08,1,-73.983849,40.742573,-73.983932,40.750500,N,334,6736497270,4711654707,17.062058,15.960742,"[6736497270, 42454522, 4597668031, 42445885, 4..."