In [2]:
import numpy as np
import pandas as pd

In [6]:
pickup_square = np.random.randint(100, size=10000)
dropoff_square = np.random.randint(100, size=10000)

In [7]:
grid_df = pd.DataFrame()

In [8]:
pickup_weekday = np.random.randint(7, size=10000)

In [9]:
from datetime import time, datetime
pickup_hour =  np.random.randint(24, size=10000)
pickup_minute = np.random.randint(60, size=10000)
#pickup_second = np.random.randint(60, size=1000)
pickup_time = []
for i in range(len(pickup_hour)):
    pickup_time.append(time(hour=pickup_hour[i], minute=pickup_minute[i]))

In [10]:
grid_df['Pickup Square'] = pickup_square
grid_df['Dropoff Square'] = dropoff_square
grid_df['Pickup Time'] = pickup_time
grid_df['Pickup Hour'] = pickup_hour
grid_df['Pickup Minute'] = pickup_minute
grid_df['Pickup Weekday'] = pickup_weekday

In [11]:
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday
0,17,53,11:22:00,11,22,1
1,35,11,03:32:00,3,32,0
2,85,85,19:28:00,19,28,2
3,78,46,17:55:00,17,55,1
4,14,35,15:29:00,15,29,6

In [12]:
from scipy.spatial import distance

In [14]:
# create coordiante points in 10*10 grid
coordinates = []
for i in range(10):
    for j in range(10):
        coordinates.append((j,i))

In [15]:
g = coordinates[1]
print(type(g))

<class 'tuple'>

In [16]:
pickup_coordinates = []
dropoff_coordinates = []

for i in range(len(pickup_square)):
    for j in range(len(coordinates)):
        if pickup_square[i] == j:
            pickup_coordinates.append(coordinates[j])

for i in range(len(dropoff_square)):
    for j in range(len(coordinates)):
        if dropoff_square[i] == j:
            dropoff_coordinates.append(coordinates[j])
#pickup_coordinates

In [17]:
grid_df['Pickup Coordinates'] = pickup_coordinates
grid_df['Dropoff Coordinates'] = dropoff_coordinates

In [18]:
manhattan_distance = []
for i in range(len(pickup_coordinates)):
    manhattan_distance.append(distance.cityblock(pickup_coordinates[i], dropoff_coordinates[i]))

In [19]:
grid_df['Manhattan Distance'] = manhattan_distance

In [20]:
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday,Pickup Coordinates,Dropoff Coordinates,Manhattan Distance
0,17,53,11:22:00,11,22,1,"(7, 1)","(3, 5)",8
1,35,11,03:32:00,3,32,0,"(5, 3)","(1, 1)",6
2,85,85,19:28:00,19,28,2,"(5, 8)","(5, 8)",0
3,78,46,17:55:00,17,55,1,"(8, 7)","(6, 4)",5
4,14,35,15:29:00,15,29,6,"(4, 1)","(5, 3)",3

In [46]:
pickup_coordinates_list = []
dropoff_coordinates_list = []
for i in range(len(pickup_coordinates)):
    pickup_coordinates_list.append(list(pickup_coordinates[i]))
    dropoff_coordinates_list.append(list(dropoff_coordinates[i]))
grid_df['Paths'] = pickup_coordinates_list
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday,Pickup Coordinates,Dropoff Coordinates,Manhattan Distance,Paths
0,17,53,11:22:00,11,22,1,"(7, 1)","(3, 5)",8,"[7, 1]"
1,35,11,03:32:00,3,32,0,"(5, 3)","(1, 1)",6,"[5, 3]"
2,85,85,19:28:00,19,28,2,"(5, 8)","(5, 8)",0,"[5, 8]"
3,78,46,17:55:00,17,55,1,"(8, 7)","(6, 4)",5,"[8, 7]"
4,14,35,15:29:00,15,29,6,"(4, 1)","(5, 3)",3,"[4, 1]"

In [41]:
pickup_coordinates_list
type(pickup_coordinates_list[0])

list

In [47]:
#full_path = []
pc = pickup_coordinates_list.copy()
dc = dropoff_coordinates_list.copy()
for i in range(len(pickup_coordinates_list)):
    temp = [pickup_coordinates_list[i][0], pickup_coordinates_list[i][1]] 
    #full_path.append(pc[i])
    while pc[i][0] < dc[i][0]:
        to_append = [pc[i][0]+1, pc[i][1]]
        temp.append(to_append)
        pc[i][0] += 1
        # temp = [pc[i][0]+1, pc[i][1]]
        # full_path.append(temp)
    while pc[i][0] > dc[i][0]:
        to_append = [pc[i][0]-1, pc[i][1]]
        temp.append(to_append)
        pc[i][0] -= 1
        # temp = [pc[i][0]-1, pc[i][1]]
        # full_path.append(temp)
    while pc[i][1] < dc[i][1]:
        to_append = [pc[i][0], pc[i][1]+1]
        temp.append(to_append)
        pc[i][1] += 1
        # temp = [pc[i][0], pc[i][1]+1]
        # full_path.append(temp)
    while pc[i][1] > dc[i][1]:
        to_append = [pc[i][0], pc[i][1]-1]
        temp.append(to_append)
        pc[i][1] -= 1
        # temp = [pc[i][0], pc[i][1]-1]
        # full_path.append(temp)

    grid_df.at[i, 'Paths'] = temp

In [48]:
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday,Pickup Coordinates,Dropoff Coordinates,Manhattan Distance,Paths
0,17,53,11:22:00,11,22,1,"(7, 1)","(3, 5)",8,"[7, 1, [6, 1], [5, 1], [4, 1], [3, 1], [3, 2],..."
1,35,11,03:32:00,3,32,0,"(5, 3)","(1, 1)",6,"[5, 3, [4, 3], [3, 3], [2, 3], [1, 3], [1, 2],..."
2,85,85,19:28:00,19,28,2,"(5, 8)","(5, 8)",0,"[5, 8]"
3,78,46,17:55:00,17,55,1,"(8, 7)","(6, 4)",5,"[8, 7, [7, 7], [6, 7], [6, 6], [6, 5], [6, 4]]"
4,14,35,15:29:00,15,29,6,"(4, 1)","(5, 3)",3,"[4, 1, [5, 1], [5, 2], [5, 3]]"

In [ ]:
# include time stamp for each path node -> Cosmina