In [51]:
import numpy as np
import pandas as pd

In [52]:
pickup_square = np.random.randint(100, size=10000)
dropoff_square = np.random.randint(100, size=10000)

In [53]:
grid_df = pd.DataFrame()

In [54]:
pickup_weekday = np.random.randint(7, size=10000)

In [61]:
from datetime import time, datetime
pickup_hour =  np.random.randint(24, size=10000)
pickup_minute = np.random.randint(60, size=10000)
#pickup_second = np.random.randint(60, size=1000)
pickup_time = []
for i in range(len(pickup_hour)):
    pickup_datetime=datetime(2021,1,1,12,0,0)+timedelta(hours=int(pickup_hour[i]), minutes=int(pickup_minute[i])) 
    pickup_time.append(pickup_datetime)
#print(pickup_time)

In [62]:
grid_df['Pickup Square'] = pickup_square
grid_df['Dropoff Square'] = dropoff_square
grid_df['Pickup Time'] = pickup_time
grid_df['Pickup Hour'] = pickup_hour
grid_df['Pickup Minute'] = pickup_minute
grid_df['Pickup Weekday'] = pickup_weekday

In [63]:
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday
0,24,55,2021-01-01 15:45:00,3,45,3
1,6,2,2021-01-02 04:31:00,16,31,3
2,15,78,2021-01-01 15:59:00,3,59,1
3,14,36,2021-01-02 01:49:00,13,49,0
4,46,91,2021-01-01 18:28:00,6,28,3

In [64]:
from scipy.spatial import distance

In [65]:
# create coordiante points in 10*10 grid
coordinates = []
for i in range(10):
    for j in range(10):
        coordinates.append((j,i))

In [66]:
g = coordinates[1]
print(type(g))

<class 'tuple'>

In [67]:
pickup_coordinates = []
dropoff_coordinates = []

for i in range(len(pickup_square)):
    for j in range(len(coordinates)):
        if pickup_square[i] == j:
            pickup_coordinates.append(coordinates[j])

for i in range(len(dropoff_square)):
    for j in range(len(coordinates)):
        if dropoff_square[i] == j:
            dropoff_coordinates.append(coordinates[j])
#pickup_coordinates

In [68]:
grid_df['Pickup Coordinates'] = pickup_coordinates
grid_df['Dropoff Coordinates'] = dropoff_coordinates

In [69]:
manhattan_distance = []
for i in range(len(pickup_coordinates)):
    manhattan_distance.append(distance.cityblock(pickup_coordinates[i], dropoff_coordinates[i]))

In [70]:
grid_df['Manhattan Distance'] = manhattan_distance

In [71]:
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday,Pickup Coordinates,Dropoff Coordinates,Manhattan Distance
0,24,55,2021-01-01 15:45:00,3,45,3,"(4, 2)","(5, 5)",4
1,6,2,2021-01-02 04:31:00,16,31,3,"(6, 0)","(2, 0)",4
2,15,78,2021-01-01 15:59:00,3,59,1,"(5, 1)","(8, 7)",9
3,14,36,2021-01-02 01:49:00,13,49,0,"(4, 1)","(6, 3)",4
4,46,91,2021-01-01 18:28:00,6,28,3,"(6, 4)","(1, 9)",10

In [72]:
pickup_coordinates_list = []
dropoff_coordinates_list = []
for i in range(len(pickup_coordinates)):
    pickup_coordinates_list.append(list(pickup_coordinates[i]))
    dropoff_coordinates_list.append(list(dropoff_coordinates[i]))
grid_df['Paths'] = pickup_coordinates_list
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday,Pickup Coordinates,Dropoff Coordinates,Manhattan Distance,Paths
0,24,55,2021-01-01 15:45:00,3,45,3,"(4, 2)","(5, 5)",4,"[4, 2]"
1,6,2,2021-01-02 04:31:00,16,31,3,"(6, 0)","(2, 0)",4,"[6, 0]"
2,15,78,2021-01-01 15:59:00,3,59,1,"(5, 1)","(8, 7)",9,"[5, 1]"
3,14,36,2021-01-02 01:49:00,13,49,0,"(4, 1)","(6, 3)",4,"[4, 1]"
4,46,91,2021-01-01 18:28:00,6,28,3,"(6, 4)","(1, 9)",10,"[6, 4]"

In [73]:
pickup_coordinates_list
type(pickup_coordinates_list[0])

list

In [74]:
#full_path = []
pc = pickup_coordinates_list.copy()
dc = dropoff_coordinates_list.copy()
for i in range(len(pickup_coordinates_list)):
    path_list=[]
    temp = [pickup_coordinates_list[i][0], pickup_coordinates_list[i][1]] 
    path_list.append(temp)
    #full_path.append(pc[i])
    while pc[i][0] < dc[i][0]:
        to_append = [pc[i][0]+1, pc[i][1]]
        path_list.append(to_append)
        pc[i][0] += 1
        # temp = [pc[i][0]+1, pc[i][1]]
        # full_path.append(temp)
    while pc[i][0] > dc[i][0]:
        to_append = [pc[i][0]-1, pc[i][1]]
        path_list.append(to_append)
        pc[i][0] -= 1
        # temp = [pc[i][0]-1, pc[i][1]]
        # full_path.append(temp)
    while pc[i][1] < dc[i][1]:
        to_append = [pc[i][0], pc[i][1]+1]
        path_list.append(to_append)
        pc[i][1] += 1
        # temp = [pc[i][0], pc[i][1]+1]
        # full_path.append(temp)
    while pc[i][1] > dc[i][1]:
        to_append = [pc[i][0], pc[i][1]-1]
        path_list.append(to_append)
        pc[i][1] -= 1
        # temp = [pc[i][0], pc[i][1]-1]
        # full_path.append(temp)

    grid_df.at[i, 'Paths'] = path_list

In [75]:
grid_df.head()

,Pickup Square,Dropoff Square,Pickup Time,Pickup Hour,Pickup Minute,Pickup Weekday,Pickup Coordinates,Dropoff Coordinates,Manhattan Distance,Paths
0,24,55,2021-01-01 15:45:00,3,45,3,"(4, 2)","(5, 5)",4,"[[4, 2], [5, 2], [5, 3], [5, 4], [5, 5]]"
1,6,2,2021-01-02 04:31:00,16,31,3,"(6, 0)","(2, 0)",4,"[[6, 0], [5, 0], [4, 0], [3, 0], [2, 0]]"
2,15,78,2021-01-01 15:59:00,3,59,1,"(5, 1)","(8, 7)",9,"[[5, 1], [6, 1], [7, 1], [8, 1], [8, 2], [8, 3..."
3,14,36,2021-01-02 01:49:00,13,49,0,"(4, 1)","(6, 3)",4,"[[4, 1], [5, 1], [6, 1], [6, 2], [6, 3]]"
4,46,91,2021-01-01 18:28:00,6,28,3,"(6, 4)","(1, 9)",10,"[[6, 4], [5, 4], [4, 4], [3, 4], [2, 4], [1, 4..."

In [81]:
from datetime import timedelta
def timestamp_range(start_time, path_list):
    timestamps = []

    for move in path_list:
        start_time_formatted = str(start_time.strftime("%Y-%m-%d %H:%M:%S"))
        timestamps.append(start_time_formatted)
        start_time += timedelta(minutes=1)

    return timestamps

In [102]:
def create_timestamps_dictionary(path_list, pickup_time):
    time_list=timestamp_range(pickup_time,path_list)
    tupel_path_list = [tuple(l) for l in path_list]
    timestamps = dict(zip(tupel_path_list, time_list))
    return timestamps

timestamps_mapping=[]
for i  in range(len(grid_df)):
    time_list=timestamp_range(grid_df['Pickup Time'][i],grid_df['Paths'][i])
    tupel_path_list = [tuple(l) for l in grid_df['Paths'][i]]
    timestamps = dict(zip(tupel_path_list, time_list))
    timestamps_mapping.append(timestamps)


grid_df['Path Timestamp'] = timestamps_mapping

In [104]:
grid_df.to_csv('data_gridworld_timestamps.csv')